*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#main-container{
    width: 60vw;
    height: 98vh;
    margin: .4rem auto;
    border: 25px solid rgb(15, 15, 88);
    border-radius: 12px;
    background-color:rgb(221, 210, 210);
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(18, 6, 84);
    margin-top: 0;
}

div#drawing-container {
    display: flex;
    margin-left: 4px;
}

div#drawing-board {
    width: 40rem;
    height: 31rem;
    border-radius: .3rem;
    box-shadow: 1px 8px 6px rgba(0, 0, 0, 0.5);
    display: grid;
}

button{
    display: block;
    margin: 1.8rem .6rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    background-color: darkslateblue;
    color: azure;
    cursor: alias;
    transition: all 1s;
}

button:hover {
    background-color: rgb(32, 25, 71);
    transform: scale(1.2);
}

#alert {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: .4rem;
}